# ====================
# Object Storage (MinIO)
# ====================
# MinIO 服务端点
MINIO_ENDPOINT=xxx.xxx.xx.xxx:9000
# 访问密钥
MINIO_ACCESS_KEY=xxxxx
# 私有密钥
MINIO_SECRET_KEY=xxxxx
# 存储桶名称
MINIO_BUCKET_NAME=xxxxx


# ====================
# Vector Database (Milvus)
# ====================
# Milvus 连接地址
MILVUS_URL=http://xxx.xxx.xx.xxx:19530
# 知识库切片集合名
CHUNKS_COLLECTION=xxxxx
# 商品名称集合名
ITEM_NAME_COLLECTION=xxxxx
# 相似度度量方式
MILVUS_METRIC_TYPE=xxxxx
# 最小余弦相似度阈值
MILVUS_MIN_COSINE_SCORE=xxxxx

# ====================
# Document Database (MongoDB)
# ====================
# MongoDB 连接 URL
MONGO_URL=mongodb://xxx.xxx.xx.xx:27017
# 数据库名
MONGO_DB_NAME=xxxxx